.tables{
  display: flex;
  align-items: start;
  justify-content: space-around;
  border: 1px solid rgb(255, 0, 0);
  height: 100vb;
  box-sizing: border-box;
  width: min(1200px, 100%);
  padding-top: 40px;
}

.table{
  border: 1px solid;
  width: 350px;
  max-height: 90%;
}